@model BTL.Models.NhaCungCap
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "AddNhaCC";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminMain.cshtml";
}
<main id="main" class="main">
<h1>AddNhaCC</h1>

<h4>NhaCungCap</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddNhaCC">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TenNcc" class="control-label"></label>
                <input asp-for="TenNcc" class="form-control" />
                <span asp-validation-for="TenNcc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
</main>
